@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;	
}

body
{
    background: linear-gradient(90deg, #c7c5f4, #776bcc);
}

.container
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* login form bg start */
.screen
{
    background: linear-gradient(90deg, #5d54a4, #7c78b8);
    position: relative;
    height: 600px;
    width: 360px;
    box-shadow: 0px 0px 24px #5c5696;
}
/* login form bg end */
.screen_content
{
    position: relative;
    z-index: 1;
    height: 100%;
}

.screen_background
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
}

.screen_background_shape
{
    transform: rotate(45deg);
    position: absolute;
}

/* white shape in the login form */
.screen_background_shape1
{
    height: 520px;
    width: 520px;
    background: #fff;
    top: -50px;
    right: 120px;
    border-radius: 0 72px 0 0;
}

/* top right shape in the login form */
.screen_background_shape2
{
    background-color: #6c63ac;
    height: 220px;
    width: 220px;
    top: -172px;
    right: 0;
    border-radius: 32px;
}

/* right side shape */
.screen_background_shape3
{
    background: linear-gradient(270deg, #5d54a4, #6a679e);
    width: 190px;
    height: 540px;
    top: -24px;
    right: 0;
    border-radius: 32px;
}

/* bottom right shape */
.screen_background_shape4
{
    background: #7e7bb9;
    height: 400px;
    width: 200px;
    top: 420px;
    right: 50px;
    border-radius: 60px;
}
/* shape design end */

/* login details */
.login
{
    width: 320px;
    padding: 30px;
    padding-top: 156px;
}

.login_field
{
    padding: 20px 0px;
    position: relative;
}

/* login form input icon */
.login_icon
{
    position: absolute;
    top: 30px;
    color: #787585;
}

/* input fields */
.login_input
{
    border: none;
    border-bottom: 2px solid #d1d104;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 75%;
    transition: .2s;
}

/* input fields effect */
.login_input:active,
.login_input:focus,
.login_input:hover
{
    outline: none;
    border-bottom-color: #6a679e;
}

.login_submit
{
    background: #fff;
    font-size: 14px;
    
}